{% extends 'base.html' %}

{% block title %}Publisher{% endblock %}

{% block content %}
    <h1 align="center"><a href="{% url 'home' %}"><< Главная страница</a></h1>

    <div>

        <table align="center"  cellspacing="4px" cellpadding="10px">
               <tr>
            <td>ID</td>
            <td align="center">Издатель</td>
            <td>Книги</td>
            <td>Ссылка</td>

        </tr>
        {% for publisher in publishers %}
            <tr>
                <td>{{ publisher.id  }}</td>
                <td>{{ publisher.name  }}</td>
                <td align="center">{{ publisher.book_set.count  }}</td>
                <td><a href="{% url 'publisher_detail' pk=publisher.id %}">подробнее</a></td>


            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}